@media only screen and (max-device-width: 360px){
    header .cabecalho {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 360px){
    .cabecalho {
        width: 100%;
    }
}


