body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;

}

h2, h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-flow: wrap;
}

.caixa {
    border-radius: 5px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.centralizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
   margin-left: 10px;
    width: 28%;
    max-height: 800px;
    max-width: 1000px;
    color: rgb(18, 87, 133);
    background-color: rgba(166, 216, 247, 0.877);
    }

.nome {
    margin-top: 7px;
    }

.cabecalho .foto img {
    margin-left: 35%;
    width: 30%;
    border-radius: 50%;
    margin-top: 1.5em;
    
}

.ladoDireito {
    width: 68%;
}

.secao {
    background-color: rgba(132, 223, 223, 0.87);
    color:rgb(32, 91, 131);
    margin-bottom: 3%;
    width: 90%;
    text-align: left;
   }

